/*------------------------------------------------
Módulo de diseño de interfaces Web
HTML y CSS
Alejandro Carmona Martos
Curso 2020/2021
------------------------------------------------*/

/*------------------------------------------------
Importación de fuentes
------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/*------------------------------------------------
Génerico
------------------------------------------------*/
*, *::before, *::after{    
    font-family: 'Lora', serif;
    box-sizing: border-box;
}

li{
    list-style: none;
}
ul, ol{
    padding-inline-start: 0px;
}

/* Se puede transformar en variables [UT6]*/

.bg-verde-claro{ background: #E8F8F5; }
.bg-verde-oscuro{ background: #48C9B0;}
.font-verde-claro{ color: #E8F8F5;}
.font-verde-oscuro{ color: #48C9B0;}

/* enlaces */
a{
    color: #48C9B0 ;
    text-decoration: none;
}

a:hover{
    color: #6c757d ;
}

.nav-link{
    color: rgba(0, 0, 0, 0.5);
}

/* botones */
.btn{
    background-color: #6c757d;
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    min-width: 6rem;
    margin-top: 1rem;
    border:0
}
.btn:hover{
    background-color: #fff;
    color:#6c757d;
    border: solid 1px #6c757d;
}

/* títulos*/
h1{font-size: 3rem;}
h3, legend{
    color: #48C9B0 ;
    font-size: 1.25rem;
    font-weight: 700;
}

/* bloques */
section{margin: 2.75rem 0;}
blockquote{ font-size: 1.5rem;}
p{line-height: 1.5rem;}


/*------------------------------------------------
Cabecera - header
------------------------------------------------*/
header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/*---- Top Header -------------*/
.cabecera-top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
.cabecera-top a{
    color: #fff;
}
.cabecera-top > div{
    max-width: 200px;
}

/*---- Nav Header -------------*/
nav{
    width: 100%;
    background: #E8F8F5;
}
nav > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav > ul > li{
    margin: 0 0.5rem;
    text-align: center;
}

/*---- Breadcrumb -------------*/
.breadcrumb{
    margin: 0px;
    background: #F8F9F9;
}
.breadcrumb > ol{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.breadcrumb li{
    color:#222;
    list-style: none;
}
.breadcrumb li:first-child::after,
.breadcrumb li:nth-child(3)::before{
    content: "/";
    padding: 0 0.5rem;
}

/*---- Submenu -------------*/
.submenu{
    width: 100%;
    background: #fff;
}
.submenu .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
.submenu .nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
/*------------------------------------------------
Parte principal - main
------------------------------------------------*/
main{
    padding-bottom: 2rem;
}
main img{
    width: 100%;
}

.fila{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fila *.dos-columnas{
    width: 48vw;
}
.fila *.tres-columnas{
    width: 32vw
}
.fila *.cuatro-columnas{
    width: 23vw;
}
.fila *.dos-tres-columnas{
    max-width: 60%;
    padding-left:7%;
}
.fila d*iv.ver-mas{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fila > div, .fila > article{
    margin-top: 1.25rem;
}
.align-izquierda{
    justify-content: flex-start;
}
.align-izquierda > div{
    margin-right: 1.25rem;
}


.planifica-visita span{
    font-size: 0.75rem;
}
/*------------------------------------------------
Formulario
------------------------------------------------*/
fieldset{
    border: 0;
    padding: 0;
    margin-bottom: 2rem;
}
label{
    padding:0;
    margin-top: 1rem;
    display: inline-block;
}

select, 
input[type="email"],
input[type="text"],
input[type="tel"],
input[type="number"]{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
select{
    height: auto;
}
input[type="radio"]{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
small{
    color: #495057;
}

/*------------------------------------------------
Cabeceras páginas
------------------------------------------------*/

.cabecera-main{
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}
.cabecera-main > div.container{
    padding-left: 2rem;
}

/*------------------------------------------------
Detalle exposición
------------------------------------------------*/
.expo-detalle main.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.detalle-cabecera{
    background: url("../img/expo-degas.jpg");
    min-height: 350px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    
}

/*------------------------------------------------
Donación
------------------------------------------------*/
.donar-cabecera{
    background: url("../img/donar.jpg");
    min-height: 350px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.donar-cabecera h1,
.detalle-cabecera  h1{
    display: block;
    color: #fff;
    background: #48C9B0;
}

.detalle-cabecera  h2, .detalle-cabecera span{
    color: #fff;
    width: 100%;
}
.detalle-cabecera button{
    margin-top: 10px;
}




/*------------------------------------------------
Tabla
------------------------------------------------*/
table{width: 100%;}
td{height: 2rem;}
tbody tr:nth-child(even) { background: #E8F8F5 }
/*------------------------------------------------
Pie de página - footer
------------------------------------------------*/

footer{
    background: #E8F8F5;
    padding-top: 50px;

}
footer i{
    font-size: 1.25rem;
}
footer .pie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer .pie h2, footer .pie a,footer .pie div{
    width: 100%;
    text-align: center;
}
footer .rrss{
    border-bottom: solid thin #E5E7E9 ;
    padding-bottom: 1.25rem;
}
footer .pie a.logo{
    border-top: solid thin #E5E7E9 ;
    padding-top: 1.25rem;
}
footer form{
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 310px;
    text-align: center;
}
footer .navbar{
    width: 100vw;
    padding: 1rem 0;
}
footer .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
footer .navbar a{
    margin-right: 0.5rem;
}

footer img{
    max-width: 200px;
}
footer.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

.creditos{
    background: #5A6268;
    font-size: 0.65rem;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.creditos p{
    max-width: 800px;
    margin: 0 auto;
}
.creditos a{
    color: #48C9B0 ;
}
.creditos a:hover{
    color: #007bff ;
}
.creditos h6{
    font-size: 0.75rem;
}

a.logo{
    background: #48C9B0;
}

.blockquote-footer{
    padding-top: 0px;
    background: transparent;
}


.contenedor {
    margin: 2rem auto;
    border: 1px solid #aaa;
    height: 300px;
    width:90%;
    max-width: 400px;
    background: #f1f2f3;
    overflow:auto;
    box-sizing: border-box;
    padding:0 1rem;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:10px;
}

body::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #48C9B0;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}



/* RESPONSIVE */
@media (max-width: 980px) {
    .fila *.dos-columnas,
    .fila *.tres-columnas{
        width: 100%;
    }

    .fila *.cuatro-columnas{
        width: 100%;
    }
    .fila *.dos-tres-columnas{
        max-width: 100%;
    }
    .fila .align-izquierda{
        justify-content: center;
    }
    .fila.align-izquierda > div{
        margin: 0;
    }
}
